@{
    ViewBag.Title = "Home Page";
}


<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="/signalr/hubs"></script>

<div id="items">

</div>

<input type="button" value="보내기" id="sendMSG" />



<script type="text/javascript">

    $(function () {

        var chat = $.connection.chatHub;

        chat.client.broadcastMessage = function (items) {

            $("#items").empty();
            JSON.parse(items).forEach(function (item, row) {

                $("#items").append("<p>"+item.ID+" : "+item.Count+"</p>")

            });

            //ls.forEach(function (item, row) { console.log(i.ID) });
        };

        // Start the connection.
        $.connection.hub.start().done(function () {

            $('#sendMSG').click(function () {

                chat.server.send();
            });

        });
    });
</script>

<p><a href="/Home/About">다른데로 가기...</a></p>

<pre>

1. install-package Microsoft.AspNet.SignalR
2. 추가 > 새항목 > 웹 > OWIN 시작 클래스

샘플에 필요한 파일
1. HTML (Home / Index)
2. ChatHub.cs (반드시 싱글톤사용)
3. Start.cs
4. signalR 관련 스크립트 파일 (이 페이지 상단에 js)

</pre>